@use "global" as *;

.car-select-inner {
    padding-left: rem(20);
    padding-right: rem(20);
    padding-top: rem(25);
    padding-bottom: rem(90);
    @include mq(md) {
        max-width: rem(1236);
        margin-left: auto;
        margin-right: auto;
        padding-top: rem(25);
        padding-bottom: rem(147);
    }
}

.car-select__cards {
    margin-top: rem(20);
    @include mq(md) {
        margin-top: rem(25);
    }
}