@use "global" as *;

.top__main {
    position: relative;
    padding-bottom: rem(150);
    @include mq(md) {
        padding-bottom: rem(163);
    }
    &::before {
        content: '';
        background-color: #F0CAB2;
        width:100%;
        height:rem(355);
        position: absolute;
        bottom: 0;
        left:0;
        @include mq(md) {
            height:rem(243);
        }
    }
}