@use "global" as *;

.top__place {
    overflow: hidden;
}

.place__wrapper {
    position: relative;
}

.place__back {
    position: absolute;
    max-width: rem(216);
    width: 100%;
    right: 0;
    z-index: -1;
    top:rem(22);
    @include mq(md) {
        max-width: rem(681.31);
        top:rem(-150);
    }
}

.place__inner {
    padding-left: rem(20);
    padding-right: rem(20);
    @include mq(md) {
        max-width: rem(1200);
        margin-left: auto;
        margin-right: auto;
    }
}

.place__content {
    background-color: $white;
    padding:rem(25) rem(20) rem(20) rem(20);
    margin-top: rem(20);
    @include mq(md) {
        padding: rem(50) rem(100);
        margin-top: rem(30);
    }
}

.section-place__title {
    font-size: rem(18);
    line-height: calc(27 / 18);
    font-weight:$bold;
    position: relative;
    @include mq(md) {
        font-size: rem(32);
        line-height: calc(48 / 32);
        font-weight: $medium;
    }
    &::after {
        content: '';
        position: absolute;
        background-image: url(../images/common/place_bar.png);
        background-size: contain;
        background-repeat: no-repeat;
        height:rem(5);
        max-width: rem(168);
        width: 100%;
        bottom:rem(-5);
        left:0;
        @include mq(md) {
            max-width: rem(294);
        }
    }
}

.place__items {
    @include mq(md) {
        margin-top: rem(30);
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
}

.place__table {
    margin-top: rem(25);
    @include mq(md) {
        margin-top: initial;
        max-width: rem(614);
        width: 100%;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th,td {
        color: #0D0D0D;
        border:rem(1) solid $red;
    }
    th {
        font-size: rem(14);
        font-weight: $semibold;
        min-width: rem(66);
        padding:rem(10) rem(15);
        text-align:left;
        @include mq(md) {
            font-size: rem(16);
            padding: rem(15);
            width: 15.6%;
        }
    }
    td {
        font-size: rem(16);
        font-weight:$regular;
        padding:rem(8.5) rem(15) rem(8.5) rem(20);
        max-width: rem(165);
        @include mq(md) {
            width: 84.4%;
        }
    }
}

.place__image {
    margin-top: rem(20);
    @include mq(md) {
        max-width: rem(304);
        margin-top: initial;
    }
}

.place__map {
    margin-top: rem(20);
}

.place__map__title {
    font-size: rem(18);
    line-height: calc(27 / 18);
    font-weight:$semibold;
    display: flex;
    align-items: end;
    color: $red;
    @include mq(md) {
        font-size: rem(22);
        line-height: calc(33 / 22);
    }
    span {
        max-width: rem(25);
        @include mq(md) {
            max-width: rem(30);
        }
    }
}

.map {
    margin-top: rem(5);
    height:rem(295);
    @include mq(md) {
        margin-top: rem(10);
        height:rem(472);
    }
}