@use "global" as *;

.top__price {
    margin-top: rem(77);
    position: relative;
    overflow: hidden;
    @include mq(md) {
     margin-top: rem(150);   
    }
}

.price__back {
    position: absolute;
    right: 0;
    top:72%;
    max-width: rem(216);
    @include mq(md) {
        max-width: rem(663.31);
        top:30%;
    }
}

.price__wrapper {
    margin-top: rem(49);
    @include mq(md) {
        margin-top: rem(79);
    }
}

.price__inner {
    padding-left: rem(40);
    padding-right: rem(40);
    @include mq(md) {
        max-width: rem(1240);
        margin-left: auto;
        margin-right: auto;
        padding-left: rem(20);
        padding-right: rem(20);
    }
}

.price__items {
    @include mq(md) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: rem(62);
    }
}

.price__item {
    position: relative;
    border: rem(2) solid $orange;
    padding:rem(35) rem(20) rem(40) rem(20);
    background-color: $white;
    &:nth-child(n+2) {
        margin-top: rem(50);
        @include mq(md) {
            margin-top: initial;
        }
    }
    @include mq(md) {
        padding: rem(60) rem(32) rem(50) rem(32);
    }
}

.price__title {
    position: absolute;
    background-image: url(../images/common/belt_sp.png);
    background-size: cover;
    top:rem(-25);
    left:rem(-19);
    width:rem(269);
    height:rem(51);
    display: flex;
    align-items: baseline;
    font-size: rem(20);
    font-weight: $medium;
    color: $white;
    padding-left: rem(19);
    padding-top: rem(3);
    span {
        font-size: rem(14);
        margin-left: rem(15);
        font-weight: $semibold;
    }
    @include mq(md) {
        background-image: url(../images/common/belt.png);
        height:rem(92);
        top:rem(-49);
        padding-left: rem(49);
        padding-top: rem(22);
        width:rem(500);
        font-size: rem(24);
        span {
            font-size: rem(18);
            margin-left: rem(20);
        }
    }
}

.price__desc {
    @include mq(md) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: rem(43);
        align-items: flex-end;
    }
    .desc__info {
        .desc {
            display: flex;
            align-items: center;
            gap:0 rem(5);
            font-size: rem(14);
            @include mq(md) {
                font-size: rem(16);
                white-space: nowrap;
            }
            span {
                max-width: rem(65);
                width: 100%;
                font-weight:$semibold;
                @include mq(md) {
                    max-width: rem(70);
                }
            }
            &:nth-child(n+2) {
                margin-top: rem(5);
            }
        }
    }

    .desc__icon {
        margin-top: rem(15);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        max-width: rem(174);
        column-gap: rem(13);
        @include mq(md) {
            max-width: rem(220);
            column-gap: rem(20);
        }
        p {
            font-size: rem(10);
            margin-top: rem(3);
            font-weight:$semibold;
            text-align: center;
            @include mq(md) {
                font-size: rem(12);
            }
        }
    }
}

.price__image {
    margin-top: rem(15);
    max-width: rem(239);
    margin-left: auto;
    margin-right: auto;
    @include mq(md) {
        max-width: rem(371);
        margin-top: rem(35);
    }
}

.price__basic {
    margin-top: rem(20);
    font-size: rem(14);
    font-weight:$semibold;
    @include mq(md) {
        margin-top: rem(35);
        font-size: rem(16);
        text-align: center;
        span {
            margin-left: rem(10);
            strong {
                font-size: rem(22);
                margin-left: rem(7);
            }
        }
    }
    span {
        color: $red;
        margin-left: rem(15);
        strong {
            font-size: rem(18);
            font-weight: $bold;
            margin-left: rem(8);
        }
    }
}

.price__btn {
    margin-top: rem(15);
}