@use "global" as *;

.btn {
    color: $white;
    font-size: rem(16);
    font-weight: $medium;
    background-color: $red;
    height:rem(44);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(5);
    @include mq(md) {
        font-weight:$bold;
        height: rem(55);
        font-size: rem(18);
        max-width: rem(250);
        margin-left: auto;
        margin-right: auto;
    }
}

.w-btn {
    color: $red;
    font-size: rem(16);
    font-weight: $medium;
    background-color: $white;
    border:rem(1) solid $red;
    height:rem(44);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(5);
    @include mq(md) {
        font-weight:$bold;
        height: rem(55);
        font-size: rem(18);
        max-width: rem(250);
        margin-left: auto;
        margin-right: auto;
    }
}